{
    "prod_urls": {
        "homepage": "https://example.com/",
        "about": "https://example.com/about",
        "contact": "https://example.com/contact"
    },
    "stage_urls": {
        "example": "https://example.com/stage/example"
    }
}
