{
    "prod_urls": {
        "homepage": "https://example.com/",
        "about": "https://example.com/about",
        "contact": "https://example.com/contact"
    },
    "lessons_urls": {
        "example-lesson": "https://example.com/lessons/example"
    }
}
